@import "partials/_border_radius";
/* deals */
#deal-share .deal-share-top {
	float:left;
	_display:inline;
	margin-left:24px;
	@include border-radius-top($radius);
	border-style:solid;
	border-width:2px;
	border-color:lighten($bar-color, 10%);
	background:lighten($background-color, 20%);
	border-bottom: solid lighten($background-color, 20%);
}
#deal-share .deal-share-links{float:left;width:453px;height:23px;padding:7px 0 0 20px;}
#deal-share .deal-share-links h4{float:left;font-weight:normal;}
#deal-share .deal-share-links li{float:left;margin-top:2px;margin-left:3px;}
#deal-share .deal-share-links-receipt{float:left;width:453px;height:23px;}
#deal-share .deal-share-links-receipt h4{float:left;font-weight:normal;padding-right:10px;}
#deal-share .deal-share-links-receipt li{float:left;margin-top:2px;margin-left:3px;}
#deal-share a{float:left;width:30px;height:16px;line-height:16px;*line-height:18px;padding-left:20px;background:url(i/icons-share.gif) no-repeat 0 0;margin-right:10px;color:#000;font-size:12px;font-family:Helvetica,arial,sans-serif;outline:0;}
#deal-share a:hover{color:#0981be;}
#deal-share a img{margin-right:2px;vertical-align:-2px;}
#deal-share .kaixin{background-position:0 -40px;}
#deal-share .renren{background-position:0 -80px;}
#deal-share .twitter{background-position:0 -120px;}
#deal-share .email{background-position:0 -161px;}
#deal-share .facebook{background-position:0 -201px;}
#deal-share-im-c{display:none;clear:both;width:483px;margin-left:24px;}
#deal-share-im-c .deal-share-im-b{height:50px;padding:10px 10px 10px 20px;border-left:1px solid #89b4d6;border-right:1px solid #89b4d6;background-color: #e5f8ff;}
#deal-share-im-c .f-input{width:345px;*width:320px;}
#deal-share-im-c .formbutton{display:none;*display:inline;}
#deal-intro{clear:both;padding:25px 14px 15px;border:2px solid lighten($bar-color, 10%);background:#fff;}
#deal-intro .main{float:left;width:215px;margin-right:15px;_margin-right:10px;_display:inline;font-family:Helvetica,arial,sans-serif;}
#deal-intro .side{float:left;width:440px;margin-right:0;}
#deal-intro .side .deal-buy-cover-img img{width:440px;}
#deal-intro .side .digest{margin-top:28px;margin-left:10px;padding-left:70px;padding-right:35px;background:url(i/bg-deal-voice-quote.gif) no-repeat 0 0;color:#666;}
#deal-intro .side .digest ul{margin:10px 0 10px;padding-left:15px;}
#deal-intro .side .digest ul li{list-style-position:outside;list-style-type:disc;margin-bottom:5px;}
#deal-intro .side .digest ol{margin:10px 0 10px;padding-left:18px;*padding-left:23px;}
#deal-intro .side .digest ol li{list-style-position:outside;list-style-type:decimal;margin-bottom:5px;}
#deal-intro h1{padding:0 50px 20px;font-size:30px;line-height:1.2;font-family:arial,sans-serif;}
#deal-intro h1 span{font-family:arial,sans-serif;}
#deal-intro .deal-buy{position:relative;}
#deal-intro .deal-today-link{text-decoration:none;}
#deal-intro .deal-price-tag{position:absolute;z-index:1;left:-72px;width:237px;height:97px;padding-left:50px;background:url($deal_price_url) no-repeat 0 0;_background:transparent;}
#deal-intro .deal-price{position:absolute;z-index:2;left:-72px;width:237px;height:97px;line-height:82px;padding-left:50px;}
#deal-intro .deal-price span{position:absolute;z-index:2;top:0;left:144px;color:#fff;}
//#deal-intro .deal-price span.deal-price-expire,#deal-intro .deal-price span.deal-price-soldout{padding-left:10px;width:140px;background:url(i/bg-deal-close-text.gif) no-repeat 0 16px;color:#666;}
#deal-intro .deal-price span.deal-price-expire{width:140px;height:84px;background:url($deal_expired_url) no-repeat 6px 17px;}
#deal-intro .deal-price span.deal-price-soldout{width:140px;height:84px;background:url($deal_soldout_url) no-repeat 6px 17px;}
#deal-intro .deal-price strong{float:left;margin-left:5px;font-size:32px;color:#fff;font-weight:normal;}
#deal-intro .deal-price span img{width:144px;height:67px;background:url($deal_buy_url) no-repeat;}
#deal-intro .deal-price span a{display:block;width:144px;height:56px;line-height:53px;margin-top:19px;outline:0;}
#deal-intro .progress-pointer{float:left;padding:3px 0;}
#deal-intro .progress-pointer span{float:left;width:14px;height:13px;background:url(i/bg-progress-pointer.gif) no-repeat 0 0;}
#deal-intro .progress-bar{float:left;height:17px;padding:0 2px;width:198px;background:url(i/bg-progress-bottom.gif) no-repeat left top;}
#deal-intro .progress-left,#deal-intro .progress-right{float:left;height:9px;margin-top:3px;*margin-top:3px;background:url(i/bg-progress-top-l.gif) no-repeat left top;}
#deal-intro .progress-left{margin-left:2px;_margin-left:1px;}
#deal-intro .progress-right{width:6px;background-image:url(i/bg-progress-top-r.gif);}
#deal-intro .hide{display:none;}
#deal-intro .min{clear:both;float:left;font-weight:bold;}
#deal-intro .max{float:right;font-weight:bold;}

.deal-consult{clear:both;position:relative;font-size:12px;}
.deal-consult .sbox-bubble{position:absolute;top:37px;left:-17px;width:19px;height:30px;background:url(i/bg-sbox-bubble.gif) no-repeat 0 0;}
.deal-consult .nav{padding:0;color:#399;}
.deal-consult-tip{padding:3px 15px 8px;}
.deal-consult-tip .noconsult{margin:12px 0;color:#60605E;}
.deal-consult-tip .list{color:#626061;}
.deal-consult-tip .list a{color:#626061;}
.deal-consult-tip .list li{padding:5px 0;border-bottom:1px dashed #cdccca;}
.deal-consult-tip .list .last{border:none;}
.deal-consult-tip .custom-service{margin-top:12px;padding:15px 15px 12px;text-align:center;background:#fff;}
.deal-consult-tip .custom-service .time{font-size:12px;}
.deal-subscribe{margin-top:0px;width:230px;}
.deal-subscribe .top{height:76px;background:url(i/bg-deal-subscribe-t.gif) no-repeat 0 0;}
.deal-subscribe .body{padding:10px;background:#EFF8FF;}
.deal-subscribe .bottom{height:12px;background:url(i/bg-deal-subscribe-b.gif) no-repeat 0 0;}
.deal-subscribe .text{margin-top:10px;padding-right:50px;background:url(i/bg-deal-subscribe-m.gif) no-repeat right center;font-size:12px;color:#999;}
.deal-subscribe .address{width:100%;}
.deal-subscribe .address td{vertical-align:top;}
.deal-subscribe .f-text{width:147px;color:#999;font-size:12px;}
.deal-discount{width:100%;margin-top:77px;border:1px solid lighten($bar-color, 20%);background:lighten($background-color, 10%);font-weight:bold;} 
.deal-discount th,.deal-discount td{padding:0 10px;text-align:center;}
.deal-discount th{padding-top:20px;font-size:12px;font-weight:normal;}
.deal-discount td{padding-bottom:10px;font-size:16px;}
.deal-box{margin-top:12px;border:1px solid lighten($bar-color, 20%);background:lighten($background-color, 20%);padding:8px;}
.deal-timeleft{padding-left:20px;padding-right:64px;background-image:url(i/bg-deal-open.gif);background-position:90% 50%;background-repeat:no-repeat;color:#333;}
.deal-timeleft h3{font-size:14px;font-weight:normal;}
.deal-timeleft li{font-weight:bold;}
.deal-timeleft li span{float:left;width:22px;font-weight:bold;margin-right:4px;text-align:right;*margin-top:-1px;padding-right:2px;*padding-right:0;}
.deal-off{background-image:url(i/bg-deal-end.gif);}
.deal-before{background-image:url(i/bg-deal-start.gif);}
.deal-status{padding:15px 8px;text-align:center;}
.deal-available-tip{clear:both;font-size:12px;color:#333;}

.deal-buy-tip-top{line-height:1.2;margin-bottom:5px;font-size:18px;font-weight:bold;}
.deal-buy-tip-total{margin-top:10px;line-height:1.2;font-size:18px;font-weight:bold;}
.deal-buy-tip-notice{font-size:12px;}
.deal-buy-ended{margin:5px 0 12px;color:#333;font-size:12px;}
.deal-buy-on{margin-bottom:5px;font-size:16px;font-weight:bold;}
.deal-buy-on img{position:relative;left:-9px;top:9px;}
.deal-buy-tip-btm{font-size:12px;}

.deal-buy-before{height:89px;}
.deal-buy-soldout{height:89px;background:url(i/bg-sold-out.gif) no-repeat 50% 0;}
.deal-buy-success{height:89px;background:url(i/bg-deal-expired-success.gif) no-repeat 50% 0;}
.deal-buy-failure{height:89px;background:url(i/bg-deal-expired-fail.gif) no-repeat 50% 0;}

#deal-stuff .deal-price strong{float:left;color:#fff;font-size:250%;}
#deal-stuff{position:relative;margin-top:22px;}
#deal-stuff .main,#deal-stuff .side{float:left;padding:6px 23px;}
#deal-stuff .main{width:413px;}
#deal-stuff .side{width:195px;}
#deal-stuff h2{font-size:16px;}
#deal-stuff .main .blk{margin:7px 0 30px;}
#deal-stuff .main .blk p{margin:10px 0 15px;}
#deal-stuff .main .detail p{margin:5px 0;}
#deal-stuff .main .detail p img{display:block; margin:5px auto;}
#deal-stuff .deal-detail-intro{margin-bottom:30px;}
#deal-stuff .deal-detail-intro h2{margin:0;font-size:16px;}
#deal-stuff .deal-detail-intro ul{margin-top:5px;}
#deal-stuff .deal-detail-intro li{list-style-position:inside;list-style-type:disc;line-height:1.6;}
#deal-stuff .main ul{margin:10px 0 10px;padding-left:15px;}
#deal-stuff .main ul li{list-style-position:outside;list-style-type:disc;margin-bottom:5px;}
#deal-stuff .main ol{margin:10px 0 10px;padding-left:18px;*padding-left:23px;}
#deal-stuff .main ol li{list-style-position:outside;list-style-type:decimal;margin-bottom:5px;}
#deal-stuff .main dt{font-weight:bold;margin:10px 0 2px;}
#deal-stuff .review ul li{background:url(i/quote.gif) no-repeat 0 2px;margin-bottom:10px;padding:0 0 0 20px;}
#deal-stuff .review ul span{display:block;text-align:right;}
#deal-stuff .go-top{position:absolute;z-index:1;left:737px;bottom:0;width:50px;font-size:12px;}
#deal-stuff .go-top a{color:#32989a;}
#deal-stuff .go-top a:hover{text-decoration:none;}
#deal-stuff .go-top .top-arrow{padding-right:3px;}
#deal-buy{margin-bottom:16px;padding-bottom:14px;}
#deal-buy .form-submit{margin:10px 16px;}
#deal-buy table{width:100%;}
#deal-buy h3.mobile{margin-top:20px;padding:0 0 4px 16px;}
#deal-buy p.mobile{margin:0;padding-left:16px;}
#deal-buy p.mobile label{padding-left:5px;}
#deal-buy .sect{width:auto;padding:20px 20px 20px;}
#deal-buy .input-text{width:50px;margin-bottom:3px;font-size:140%;text-align:center;}
#deal-buy .order-table th,#deal-buy .order-table td{padding:10px 16px;text-align:center;}
#deal-buy .order-table th{background:lighten($background-color, 10%);padding-top:10px;padding-bottom:10px;white-space:nowrap;}
#deal-buy .order-table td{border-bottom:1px solid lighten($background-color, 10%);}
#deal-buy .order-table .deal-buy-desc{width:auto;padding-left:16px;text-align:left;}
#deal-buy .deal-buy-quantity{width:80px;}
#deal-buy .deal-buy-multi{width:15px;}
#deal-buy .deal-buy-price{width:50px;}
#deal-buy .deal-buy-equal{width:15px;}
#deal-buy .order-table .deal-buy-total{width:80px;padding-right:12px;text-align:right;}
#deal-buy .order-table .order-total td{border:none;color:#c33;}
#deal-buy td.deal-buy-total{font-size:20px;}
#deal-buy .order-total .deal-buy-total{font-weight:bold;}
#deal-buy h3.address{padding:10px 0 10px 16px;background:#EFF8FF;color:#333;}
#deal-buy h3.address span{font-weight:normal;}
#deal-buy h3.delivery{margin-top:0;padding:12px 0 4px 16px;}
#deal-buy p.address{margin:10px 0 5px;padding-left:16px;}
#deal-buy .address-table{margin:5px 0 5px;}
#deal-buy .address-table th{width:95px;vertical-align:top;padding:5px 0;font-weight:normal;text-align:right;}
#deal-buy .address-table td{padding:5px;width:480px;}
#deal-buy .address-table .blk-error{display:none;width:440px;border:1px solid #f60;height:25px;line-height:25px;margin:5px 0 0;padding-left:28px;padding-right:10px;background:#fff2e9 url(i/bg-sys-icons.gif) no-repeat 5px 5px;}
#deal-buy .address-list{margin-left:30px;}
#deal-buy .address-zipcode{width:100px;}
#deal-buy .address-detail{width:470px;}
#deal-buy .address-name{width:120px;}
#deal-buy .address-phone{width:120px;}
#deal-buy .address-list li{line-height:2;}
#deal-buy .address-list .selected{background:#ffc;}
#deal-buy .address-list label{padding-left:10px;}
#deal-buy .delivery-type{margin-left:30px;}
#deal-buy .delivery-type li{line-height:2;}
#deal-buy .delivery-type label{padding-left:10px;}
#deal-buy .delivery-comment{padding-left:30px;}
#deal-buy-update{font-size:12px;}
#deal-buy-box h2 span{margin-left:10px;font-size:14px;font-weight:normal;}
#deal-buy-form-signup{margin-top:10px;}
#deal-buy-login{position:absolute;top:110px;*top:100px;right:20px;width:240px;padding:12px;background-color:#EFF8FF;}
#deal-buy-login p{margin:10px 0;}
#deal-buy-login-form p span{display:inline-block;width:45px;padding-right:10px;text-align:right;}
#deal-buy-login .f-input{width:160px;}
#deal-buy-login-tip strong{padding:3px 15px;border:1px solid;border-color:#82D0D4 #92D6D9 #54A3A7 #4D989B;background:#63C5C8;color:#fff;cursor:pointer;font-size:14px;font-weight:normal;}
#content #deal-buy-login-form .act{margin-left:55px;padding:0;}
#content #order-paytype .sect{padding-bottom:24px;}
#deal-buy .order-check-form{margin-top:12px;border-top:1px solid #44ACAF;padding-top:20px;}
#deal-buy .has-credit{border:none;padding-top:0;}
#deal-buy .order-pay-credit h3{padding:8px 16px;background:#EFF8FF;color:#333;}
#deal-buy .order-pay-credit p{padding:12px 16px;}
#deal-buy .order-pay-credit p strong{color:#c33;}
#deal-buy .order-pay-credit div {padding:5px 16px;}
#deal-buy .order-pay-credit div p{padding:5px 0;}
#deal-buy .order-pay-credit div li{padding-left:20px;}
#deal-buy .order-pay-credit div strong{color:#000;}

#deal-buy .choose-pay-type{padding-left:16px;}
#deal-buy .paytype h2 strong{color:#c00;}
#deal-buy .paytype .check-act{margin-top:32px;padding-left:16px;}
#deal-buy .paytype .typelist{margin-left:16px;}
#deal-buy .paytype .typelist li{clear:both;float:left;margin-top:10px;width:640px;}
#deal-buy .paytype .typelist input{float:left;margin-top:15px;}
#deal-buy .paytype .typelist label{float:left;padding-top:12px;*padding-top:15px;width:420px;padding-left:160px;}
#deal-buy .paytype .typelist .paypal{height:35px;background:url(i/paypal.jpg) no-repeat 20px 2px;}
#deal-buy .paytype .typelist .alipay{height:39px;background:url(i/alipay.gif) no-repeat 20px 2px;}
#deal-buy .paytype .typelist .chinabank{height:35px;background:url(i/chinabank.gif) no-repeat 20px 3px;*background-position:20px 5px;}
#deal-buy .paytype .typelist .tenpay{height:35px;background:url(i/tenpay.jpg) no-repeat 10px -5px;*background-position:10px -3px;}
#deal-buy .paytype .mobile{margin:10px;}
#deal-buy .paytype .address{padding-left:16px;}
#deal-buy .paytype .address span{color:#666;}
#deal-buy .gotopay{padding:10px 1.5em;font-size:16px;}
#deal-buy .back-to-check{margin-top:20px;}

#recent-deals .sect{width:auto;padding:10px 20px 40px;}
#recent-deals .deals-list li{float:left;width:650px;height:206px;border-bottom:1px dashed #ccc;border-right:1px dashed #ccc;}
#recent-deals .deals-list li.first{height:213px;}
#recent-deals .deals-list li.alt{padding-left:20px;border-right:none;}
#recent-deals .deals-list .time{margin-top:15px;font-size:12px;font-weight:bold;color:#000;}
#recent-deals .deals-list .first .time{margin-top:0;}
#recent-deals .deals-list h4{margin-top:5px;height:20px;padding-right:10px;font-weight:normal;}
#recent-deals .deals-list h4 a{color:#666;}
#recent-deals .pic{position:relative;z-index:1;float:left;width:200px;height:125px;margin:8px 0 20px;_display:inline;}
#recent-deals .pic .soldout{position:absolute;z-index:1;right:0;bottom:0;_bottom:0px;width:182px;height:77px;background:url(i/bg-deals-default-soldout.png) no-repeat 0 0;_background:transparent;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/css/i/bg-deals-default-soldout.png');}
#recent-deals .pic .soldoutlink{display:block;position:absolute;z-index:2;right:0;bottom:0;width:182px;height:77px;outline:0;text-indent:-999em;}
#recent-deals .pic .isopen{position:absolute;z-index:1;right:-13px;bottom:-7px;width:65px;height:66px;background:url(i/bg-deals-default-isopen.png) no-repeat 0 0;_background:transparent;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/css/i/bg-deals-default-isopen.png');}
#recent-deals .pic .isopenlink{display:block;position:absolute;z-index:2;right:-13px;bottom:-7px;width:65px;height:66px;outline:0;text-indent:-999em;}
#recent-deals .pic img{display:block;}
#recent-deals .info{float:left;padding-top:5px;padding-left:30px;width:160px;height:180px;color:#666;font-size:12px;}
#recent-deals .total strong{color:#c33;font-size:20px;}
#recent-deals .price{margin-top:10px;*margin-top:6px;font-size:12px;line-height:1.5;}
#recent-deals .price strong{color:#000;font-size:14px;font-weight:bold;}
#recent-deals .price strong.discount{font-size:14px;font-weight:bold;color:#c33;}
#recent-deals .price strong.old{text-decoration:line-through;}
#recent-deals .detail{margin-top:8px;color:#666;font-size:12px;}
#recent-deals .deal-subscribe{margin-top:0;}

/* image rotate */
#team_images {width:440px;margin-bottom:0px;height:280px; overflow:hidden;}
#team_images ul{list-style:none;}
#team_images a{outline:none; cursor:pointer;}
#team_images .mid{ width:440px;padding:0;position:relative;}
#team_images .mid ul{width:440px;height:280px;position:relative;overflow:hidden;}
#team_images .mid ul li{width:440px;height:280px; position:absolute;left:440px;top:0;}
#team_images .mid ul .first{left:0;}
#team_images #img_list{position:absolute; right:10px; bottom:10px;}
#team_images #img_list a{display:block; float:left; margin:2px 0 0 4px; border:solid 1px #333; line-height:20px; padding:0 5px; background:#fff; color:#000;}
#team_images #img_list a.active{line-height:24px; padding:0 7px; border-color:#ff6600; font-weight:bold; margin-top:0; color:#ff6600;}

/* coupons */
#coupons .head{position:relative;}
#coupons .filter{position:absolute;top:25px;right:10px;}
#coupons .filter li{float:left;margin:0 5px 0 0;font-size:12px;}
#coupons .filter a{padding:3px 1px;}
#coupons .filter .current a{padding:3px 7px;background:#00ADB2;color:#fff;-moz-border-radius:2px;-webkit-border-radius:2px;}
#coupons .delivery-text{color:#808080;}
#coupons .sbox{margin-top:34px;}
#coupons .invalid{color:#ddd;}