.sysmsgw {
	clear:both;
	padding:8px 0 10px 37px;
	color:#000;
	font-size:14px;
}
.sysmsg {
	position:relative;
	width:$global-width - 30px;
	margin:auto;
	padding-left:30px;
	
	.close {
		position:absolute;
		top:0;
		right:20px;
		padding-right:16px;
		background:url(i/bg-sysmsg-close.gif) 100% 50% no-repeat;
		font-size:12px;cursor:pointer;
	}
}
#sysmsg-error {
	border:1px solid #d01e5e;
	background:#ffdcd7;
	color:#d01e5e;
	
	.sysmsg {
		background:url(i/bg-sysmsg-error.gif) no-repeat 0 0;
	}
}
#sysmsg-success {
	border-top:2px solid #690;
	border-bottom:2px solid #690;
	background:#EDFEDA;
	color:#690;
	
	.sysmsg {
		background:url(i/bg-sysmsg-success.gif) no-repeat 0 0;
	}
}
#sysmsg-tip {
	position:relative;top:-15px;
	left:8px;
	//width:$global-width - 72px;
	width: 640px;
	font-size:14px;
	@include border-radius($radius);
	border-style:solid;
	border-width:1px;
	border-color:lighten($bar-color, 10%);
	background:lighten($background-color, 20%);
	padding:12px 30px 12px 30px;
	overflow:hidden;

	.sysmsg-tip-close {
		display:none;
		position:absolute;
		top:12px;
		right:20px;
		padding-right:16px;
		background:url(i/bg-sysmsg-close.gif) 100% 50% no-repeat;
		font-size:12px;
		color:#699701;
		cursor:pointer;
	}
	.deal-close {
		position:relative;
		z-index:1;
		.focus {
			position:absolute;
			z-index:2;
			top:-12px;
			left:-31px;
			width:163px;
			height:60px;
			padding:12px 35px;
			background:url(i/bg-sysmsg-tip-focus.gif) no-repeat 0 0;font-weight:bold;
		}
		.body {
			height:30px;
			padding-left:220px;
		}
		.subscribe-succ {
			display:block;
			padding-top:5px;
		}
		td {
			line-height:1;
			*line-height:1.2;vertical-align:middle;
			padding-top:1px;
		}
		.f-text {
			width:216px;
			color:#333;
		}
		.commit {
			width:51px;
			height:28px;
			background:url(i/button-subscribe-b.gif) no-repeat 0 0;
			text-indent:-999em;border:none;
		}
	} 
}