$global-width: 960px;

$header-color: #FE642E;
$background-color: #FFFFFF;
$bar-color: #BDBDBD;
$button-color: #04B45F;
$link-color: #2E64FE;
$input-color: #81DAF5;
$deal-box-color: lighten($background-color, 15%);

$deal_price_url:"i/bg-deal-price.png";
$deal_buy_url:"i/button-deal-buy.png";
$deal_expired_url:"hi/bg-deal-expired-text.gif";
$deal_soldout_url:"i/bg-deal-soldout-text.gif";

/* IMPORTS */
@import "global";
@import "application";
@import "partials/_sysmsg";
@import "partials/_deal";
@import "partials/_border_radius";