<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="content">
    <div id="deal-buy" class="box">
        <div class="box-top"></div>
        <div class="box-content">
            <div class="head"><h2>Success</h2></div>
            <div class="sect">
			<%= link_to @page_name, @page_link, :target => "_blank" %> is now connected to your <%= OPTIONS[:site_name] %> account.<br><br>
			
			<%= link_to "Log In", merchant_login_url, :target => "_blank" %> to your account to create deals!
			</div>
		</div>
		<div class="box-bottom"></div>
	</div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->