<%= form_tag :controller => :user, :action=>'forgot_password', :class=>"validator" %>

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="biz">
    <div id="content" class="biz">
        <div class="box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head"><h2>Forgotten Password</h2></div>
                <div class="sect">
						<div class="note"> Enter your email address to reset your password. </div>
                        <div class="field">
	                         <label for="email">Email</label>
							 <%= text_field_tag :email, nil, :size=>"30", :class=>"f-input", :datatype=>"require", :require=>"true" %>
	                    </div>
                        <div class="act">
							<%= submit_tag :submit, :value=>"Send Password", :class=>"formbutton"%>
							or <%= link_to "cancel", login_url %>
                         </div>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
    <div id="sidebar">
	</div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->
