<div id="contact">
<h2>Contact Us</h2>
<p>Rally Commerce, Inc. (Shop n Rally)<br>
Pier 38, Suite 210 <br>
San Francisco, CA 94107 <br>
(415) 729-3877 <br>
<%= mail_to "support@RallyCommerce.com" %> </p>
</div>