<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="partner">
	<div id="content" class="clear">
        <div class="clear box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head"><h2>Contact Us</h2></div>
                <div class="sect">
					<div id="contact">
						Rally Commerce, Inc. (Shop n Rally)<br>
						Pier 38, Suite 210 <br>
						San Francisco, CA 94107 <br>
						(415) 729-3877 <br>
						<%= mail_to "support@RallyCommerce.com" %> 
					</div>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
	</div>

<div id="sidebar">
</div>

</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->




