<div id="terms">

<h2>Merchant Account Terms and Conditions</h2>
<p>RALLY COMMERCE MERCHANT ACCOUNT 
TERMS AND CONDITIONS LAST UPDATED JULY 1, 2011</p>
<p>By accessing and using Rally 
Commerce&#39;s services through your Merchant Account (as defined below), 
you agree to the following terms and conditions and any policies, guidelines 
or amendments thereto that may be presented to you from time to time 
(collectively, the &quot;Terms&quot;). If the law or our functionality 
changes and affects the services we are able to offer you through your 
Merchant Account, we may need to change these Terms or our program features 
from time to time. You should review these Terms regularly. If at any 
time you do not agree with these Terms, or you do not agree to any modified 
Terms, then you shall immediately stop using your Merchant Account and 
cease your participation in any Rally Commerce self-service merchant 
program (collectively, the &quot;Programs&quot;). Unless you have agreed 
otherwise in writing with Rally Commerce, these Terms govern your use 
of our services through your Merchant Account. In the event of a conflict 
between these Terms and the terms of a deal (&quot;Offer&quot;) created 
and published in your account in the Merchant Account (a “Deal Submission”), 
these Terms shall govern. You and Rally Commerce may be referred to 
throughout these Terms individually as a &quot;Party&quot; and collectively 
as the &quot;Parties”.</p>
<p>Section 1: DEFINITIONS</p>
<p>1.1 Definitions. (a) “Deal 
Submission” is the submission by you to create and publish the Offer 
for inclusion in the Program. The terms of the Deal Submission are specified 
and submitted by you in accordance with Section 3.1; (b) &quot;Prepaid 
Coupon&quot; means the paper voucher or electronic certificate that 
evidences a customer’s purchase of the Offer and contains the terms 
of, and unique redemption information for, the Offer; (c) a Prepaid 
Coupon’s &quot;Purchase Value” means the amount that a purchaser 
pays for a Prepaid Coupon; (d) a Prepaid Coupon&#39;s &quot;Promotional 
Value&quot; is the portion of the Prepaid Coupon&#39;s value for which the 
purchaser does not pay. (For example, a purchaser pays $10 for a Prepaid 
Coupon with a $25 Full Offer Value, $15 is the Promotional Value); (e) 
a Prepaid Coupon&#39;s &quot;Full Offer Value&quot; means the full value 
for which the holder of a Prepaid Coupon will be able to redeem it on 
or before the Promotional Value Expiration, and is equal to the sum 
of its Promotional Value plus its Purchase Value and will be stated 
on the front of each Prepaid Coupon; (f) a Prepaid Coupon’s &quot;Promotional 
Value Expiration&quot; is the date and time after which the Prepaid 
Coupon’s Promotional Value may no longer be used and the Prepaid Coupon 
may only be redeemed for its Purchase Value; (g) “Sales Period(s)” 
means the date (or dates) and period (or periods) of time the Offer 
will be available for redemption as specified in Section 3.1; (h) “Rally 
Commerce Site” means, collectively, any website (<a href="http://www.ShopnRally.com" target="_blank">www.ShopnRally.com</a>) 
or other distribution channels owned, controlled or operated by Rally 
Commerce or e-mails, mobile applications or other types of electronic 
offerings; and (i) “Rally Commerce” means Rally Commerce, Inc.</p>
<p>Section 2: RALLY COMMERCE MERCHANT 
ACCOUNT </p>
<p>2.1 Merchant Account. In order 
to use certain services, you are required to register for a special 
account on the Rally Commerce Site that will facilitate your use of 
various Rally Commerce services (your “Merchant Account”), and to 
provide current and accurate, contact and other information as part 
of the Merchant Account registration process and continued use of the 
services offered by Rally Commerce. You are responsible for maintaining 
the confidentiality of your Merchant Account password, and are responsible 
for all activities that occur under such account. You agree to immediately 
notify Rally Commerce of any unauthorized use of your password or Merchant 
Account or any other breach of security related to the Rally Commerce 
Site. Rally Commerce is not and will not be liable for any loss or damage 
arising from your failure to comply with this Section 2.1. In addition 
to the other rights set forth herein, Rally Commerce reserves the right 
to refuse service and/or access to the Rally Commerce Site to you or 
any other merchant at any time without notice for any reason. When using 
your Merchant Account and the Rally Commerce Site to submit and manage 
other Offers, you will be required to accept and comply with certain 
terms and conditions applicable to merchants. Rally Commerce may offer 
certain optional features or functionalities within your Merchant Account. 
If you choose to use such features, then you may be required to agree 
to separate terms that are specific to those features that will be disclosed 
and available at the time you elect any such option. You represent that 
you are of legal age to form a binding contract and have full power, 
capacity and authority to accept these Terms. If you are accepting these 
Terms on behalf of your employer or another entity, you represent that 
you have full legal authority to bind your employer or such entity to 
these Terms. If you don&#39;t have the legal authority to bind, please ensure 
that only an authorized person from your entity consents to and accepts 
these Terms.</p>
<p>2.2 Merchant Center. The Merchant 
Center is the section of your Merchant Account (in contrast to any individual 
user account you may maintain) where you as a business owner may directly, 
or indirectly through an authorized employee or representative, access 
your business profile and information about past offers that have run 
through the Program and manage your Offers by tracking Prepaid Coupon 
redemption. Within your business profile, you can add or edit information 
about your business including locations, reviews, social media links, 
pictures, questionnaire and addresses to which Rally Commerce should 
send payments. You may use your Merchant Account to submit new Program 
Offer(s) and suspend or stop a particular Active Offer(s). You may also 
review analytics and statistics for your Offers and view all Program 
Offers in any status. Within the redemption section of your Merchant 
Account, you can submit Prepaid Coupon redemption data for your Offers 
and download customer lists. </p>
<p>Section 3: PROGRAM PARTICIPATION 
AND YOUR OFFER</p>
<p>3.1 Creation of Offers. By 
electing to participate in a Program, you shall define the conditions 
of, and supply the content and images to describe and illustrate, your 
Offer and its terms by completing and submitting a Deal Submission through 
your Merchant Account. Your submission of a Deal Submission is not binding 
on Rally Commerce until Rally Commerce publishes the Offer on the Rally 
Commerce Site, at which point the Sales Period begins and the Offer 
becomes an &quot;Active Offer&quot; during such Sales Period. Notwithstanding 
the foregoing, Rally Commerce has no obligation to accept or publish 
your Offer. You are responsible and liable for all Offer content and 
terms, and for Rally Commerce&#39;s or any purchaser&#39;s use or reliance thereon. 
In creating your Offer, you may not: (a) offer to sell any goods or 
services on terms or in a manner that is prohibited by law from being 
offered or advertised; (b) include any content that violates or infringes 
in any way upon the rights of others; or (c) include any material that 
is unlawful, threatening, abusive, defamatory, invasive of privacy or 
publicity rights, vulgar, obscene, profane or otherwise objectionable, 
which encourages conduct that would constitute a criminal offense, give 
rise to civil liability or otherwise violate any Law. </p>
<p>3.2 Promotion of Offers. If 
Rally Commerce publishes your Deal Submission, Rally Commerce may promote 
the Offer using any method and through any medium that Rally Commerce 
deems appropriate in its sole discretion, including through e-mail, 
mobile applications and any other type of electronic interface or distribution 
channel owned, controlled or operated by Rally Commerce. Rally Commerce 
further reserves the right, but has no obligation, to promote the Offer 
through its affiliates and third party business partners from time to 
time. Rally Commerce will promote your Offer to Rally Commerce customers 
and potential customers based on geographic or other geolocational data, 
but will determine the customers and potential customers to whom your 
Offer is actually promoted and made available in its sole discretion. 
If you indicate a maximum number of Prepaid Coupons in the Deal Submission, 
Rally Commerce will use commercially reasonable efforts to stop promoting 
your Offer once such maximum is reached.</p>
<p>3.3 Distribution of Prepaid 
Coupons. Once Rally Commerce has received payment from a purchaser of 
the Purchase Value, Rally Commerce will authorize for use, and make 
a Prepaid Coupon available to, the purchaser of your Offer (or will 
distribute it to a designated transferee on behalf of the purchaser, 
if any is designated at the time of purchase). The Prepaid Coupons will 
include any restrictions or limitations on the use of the Prepaid Coupon 
you have specified in the Deal Submission. Purchasers, or their authorized 
transferees, may then redeem the Offer by presenting their Prepaid Coupons 
to you as printed certificates, through their mobile devices, or any 
other media that Rally Commerce has adopted for Prepaid Coupon redemption. </p>
<p>3.4 Responsibility for Offer 
and Prepaid Coupons. You acknowledge that you are the exclusive seller 
of your Offer and the issuer of the Prepaid Coupons. You also are responsible 
and liable for: (a) the decision to make your Offer available through 
the Rally Commerce services; (b) fulfilling your Offer with respect 
to all Prepaid Coupon holders; and (c) supplying all goods and/or services 
specified in the Offer.</p>
<p>3.5 Redemption Obligations. 
You shall comply with your obligations specified in these Terms, the 
Deal Submission and other obligations regarding the use of your Merchant 
Account. In addition, when redeeming Prepaid Coupons, you shall: (a) 
honor the Prepaid Coupons during the time period specified on, and otherwise 
pursuant to the terms of, your Offer; (b) log the Prepaid Coupon redemption 
into the Rally Commerce system using one of the methods Rally Commerce 
makes available to you WITHIN THIRTY (30) DAYS AFTER THE Prepaid Coupon’s 
PROMOTIONAL VALUE EXPIRATION DATE; (c) handle all customer service in 
connection with the redemption and use of the Prepaid Coupons; (d) honor 
any Prepaid Coupon presented by an individual, even if that individual 
was not the purchaser, unless (i) otherwise specified in the Special 
Instructions (as defined below) reflected on the face of the Prepaid 
Coupon or (ii) you reasonably believe that individual obtained the Prepaid 
Coupon in an unauthorized or illegal manner, in which case you shall 
immediately contact Rally Commerce and explain the circumstances; and 
(e) comply with the terms and conditions stated on the Prepaid Coupon 
without modification and without imposing any restrictions or additional 
charges or penalties that are not expressly stated on the Prepaid Coupon. 
You shall specify all generally applicable policies (e.g., cancellation 
policies that apply to all customers), restrictions and contractual 
arrangements (e.g., liability waivers required for all customers) applicable 
to the Offer (&quot;Special Instructions&quot;) in the Deal Submission, 
and Rally Commerce shall have no liability for your failure to do so. </p>
<p>3.6 Expiration Periods. You 
shall allow Prepaid Coupon holders to redeem any valid Prepaid Coupons 
for the Full Offer Value until the Promotional Value Expiration, unless 
the Law requires a longer period. After the Promotional Value Expiration, 
you may, to the extent a Prepaid Coupon permitted by Law, continue to 
honor the Purchase Value of Prepaid Coupons by either: (a) continuing 
to redeem Prepaid Coupons for the Full Offer Value as though the Full 
Offer Value has not yet expired, (b) redeeming Prepaid Coupons for your 
goods and/or services valued at up to the Purchase Value, or (c) redeeming 
Prepaid Coupons for a cash amount equal to the Purchase Value. </p>
<p>3.7 Redemption Reporting Period 
and Refunds. You shall accurately report redemption data for all redeemed 
Prepaid Coupons to Rally Commerce within thirty (30) days after the 
Prepaid Coupons’ Promotional Value Expiration Date (the “Redemption 
Reporting Period”).  <br></p>
<p>3.8 Your Third Party Merchants. 
You may subcontract or delegate portions of your performances required 
by these Terms with respect to a particular Offer to a third party (each, 
a “Third Party Merchant”). If you subcontract or delegate to Third 
Party Merchants with respect to fulfilling such Offer, you will remain 
solely responsible and liable for (a) all your obligations, including 
financial obligations, under these Terms and (b) all acts and omissions 
of your Third Party Merchants. you shall require your Third Party Merchants 
to comply with all applicable restrictions and obligations imposed on 
you under these Terms, and you will be solely responsible for your financial 
and contractual relationship with your Third Party Merchants.</p>
<p>3.9 License to Your Content. 
you hereby grant Rally Commerce a non-exclusive, worldwide, transferable, 
irrevocable, perpetual and sub-licensable license to use, copy, distribute, 
display and perform any trademarks, photographs, graphics, artwork, 
videos, sound clips, text, and other content or materials that you provide 
to Rally Commerce in your Merchant Account or otherwise use to describe 
your Offer (“your Content”) in any and all media or formats in connection 
with Rally Commerce’s fulfillment of its rights and obligations under 
these Terms, including the promotion of Offers and distribution of Prepaid 
Coupons.</p>
<p>3.10 Press Release.Rally Commerce 
may, in its sole discretion, include you in any press release regarding 
the Offers described herein or identify you as a merchant. </p>
<p>Section 4: PAYMENT TERMS </p>
<p>4.1 Generally. Payment terms 
governing your Offer are as set forth below, unless you have a separate 
written agreement with Rally Commerce expressly modifying the terms 
of your payment under a particular Program. Payment terms for any non-Programs 
Offers are contained in the applicable contract you entered with Rally 
Commerce by accepting the terms and conditions governing your Merchant 
Account or otherwise.</p>
<p>4.2 Payment Terms. For each 
Prepaid Coupon that is redeemed and for which you electronically submit 
redemption data to Rally Commerce through an authorized mode of redemption 
within the appropriate time period, you will be paid an amount equal 
to: the Purchase Value, less a Commission Fee as defined in the applicable  
Merchant Service Agreement you entered with Rally Commerce, or by accepting 
the terms and conditions governing your Merchant Account or otherwise, 
and less credit card transaction fees, of the Full Offer Value (such 
amount, the “Remittance Amount”). Rally Commerce will pay you the 
Remittance Amount within thirty (30) days following the Promotional 
Value Expiration. </p>
<p>Section 5: TERM AND TERMINATION</p>
<p>5.1 Term. These Terms are effective 
on the earlier of the date on which you first access the Merchant Center 
through your Merchant Account, accept the Merchant Account Terms, or 
submit a Deal Submission. These Terms will remain in effect through 
the expiration of all Prepaid Coupons’ Purchase Values or such earlier 
date as all Prepaid Coupons are redeemed or refunded to their purchasers, 
unless otherwise earlier terminated as set forth below.</p>
<p>5.2 Termination. Rally Commerce 
may terminate these Terms and suspend your access to the Merchant Account 
immediately upon written notice to you if: (a) you violate your redemption 
obligations with respect to any Offer made by you using Rally Commerce’s 
programs and services; (b) you fail to redeem or cause the redemption 
failure of any Prepaid Coupons for any reason, including but not limited 
to the sale or dissolution of your business, a violation of or a higher 
than expected number of purchasers, or (c) you violate any of the material 
terms of these Terms or any other agreement you have with Rally Commerce. </p>
<p>5.3 Suspension of a Program 
Offer. Notwithstanding anything herein to the contrary, you may cancel 
or suspend a Program Offer through your Merchant Account.</p>
<p>5.4 Obligations Upon Termination; 
Survival of Relevant Provisions. Neither the expiration nor termination 
of these Terms, nor your suspension or cancellation of any Offer shall 
in any way affect the rights of any holder of a valid Prepaid Coupon, 
Rally Commerce&#39;s obligation to pay you for validly redeemed Prepaid 
Coupons, or modify or eliminate your obligation to redeem any valid 
Prepaid Coupon pursuant to its terms. All Terms and any sections of 
these Terms that are logically intended and required to survive expiration 
or termination of these Terms to achieve their intent, shall survive 
without limitation. </p>
<p>Section 6: REPRESENTATIONS 
AND WARRANTIES</p>
<p>6.1 By Both Parties. Each Party 
represents and warrants to the other that: (a) it has the power and 
authority to enter into the Agreement and perform its obligations under 
these Terms; (b) it is an entity duly organized, validly existing and 
in good standing under the Laws of its jurisdiction of incorporation 
or formation; and it is duly qualified to do business and is in good 
standing in each jurisdiction where the conduct of its business, provision 
of its goods and/or services, or the ownership of its property requires 
such qualification; (c) these Terms reflect its legal, valid and binding 
obligation, enforceable against it; and (d) it shall comply with all 
Laws applicable to its obligations under the Agreement.</p>
<p>6.2 By you. You represent and 
warrant to Rally Commerce that: (a) you and any Third Party Merchant(s), 
as applicable, (i) are registered for the collection of sales, use and 
other similar taxes in all states and localities in which goods and/or 
services will be made available pursuant to the terms and presentation 
of the Prepaid Coupon; and (ii) will collect and remit any and all applicable 
state or local sales, use, hotel occupancy, and other similar taxes 
that may apply to the redemption of the Prepaid Coupons or the supplying 
of goods or services; (b) your Content, your representations about your 
business, and your redemption process for Prepaid Coupons, do not and 
will not infringe, misappropriate, or otherwise violate any intellectual 
property right or right of privacy or publicity of any third party; 
(c) you hold all necessary Regulatory Documents and Authorization Documents, 
if any, required to make any Offer and provide the goods or services 
described therein; (d) you will provide the goods and services made 
available through any Offer in a manner consistent with industry best 
practices; and (e) you have all rights necessary to grant the licenses 
set forth in these Terms.</p>
<p>6.3 NO FURTHER REPRESENTATIONS. 
EXCEPT AS EXPRESSLY SET FORTH IN THESE TERMS, NEITHER PARTY MAKES ANY 
REPRESENTATIONS OR WARRANTIES, EXPRESS OR IMPLIED, INCLUDING WITHOUT 
LIMITATION ANY IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR 
PURPOSE OR NON-INFRINGEMENT. PREPAID COUPON DOES NOT WARRANT OR GUARANTEE 
THAT (A) ANY OFFER OR THE PREPAID COUPONS WILL BE ERROR-FREE; (B) ANY 
ERRORS, OMISSIONS OR MISPLACEMENTS WILL BE CORRECTED, OR (C) THE OFFER 
WILL RESULT IN ANY REVENUE OR PROFIT FOR YOU. PREPAID COUPON MAKES NO 
REPRESENTATIONS OR WARRANTIES, EXPRESS OR IMPLIED, REGARDING THE PREPAID 
COUPON SITE OR ANY OTHER PROMOTION, DISTRIBUTION OR REDEMPTION METHOD 
USED OR PROVIDED BY PREPAID COUPON (INCLUDING WITH RESPECT TO ITS UNINTERRUPTED 
OR ERROR-FREE OPERATION) AND/OR THE ACCURACY, ADEQUACY, RELIABILITY, 
AVAILABILITY, TIMELINESS, COMPLETENESS, SUITABILITY OR OTHER CHARACTERISTICS 
OF THE INFORMATION AND MATERIALS CONTAINED ON OR PRESENTED THEREIN. 
THE PREPAID COUPON SITE AND OTHER PROMOTION, DISTRIBUTION OR REDEMPTION 
METHODS USED OR PROVIDED BY PREPAID COUPON AND ALL RELATED INFORMATION 
AND MATERIALS ARE PROVIDED &quot;AS IS&quot;, WITHOUT ANY WARRANTY OF 
ANY KIND, AND ON AN &quot;AS AVAILABLE&quot; BASIS. </p>
<p>Section 7: INDEMNIFICATION</p>
<p>7.1 By you. you, at your sole 
cost and expense, shall defend, indemnify and hold Rally Commerce, its 
affiliated and related entities, and any of their respective officers, 
directors, agents and employees, harmless from and against any third 
party claims, lawsuits, actions, proceedings or investigations(collectively, 
&quot;Claims&quot;) from and against any fees, costs, sanctions, penalties, 
damages, losses or expenses (including but not limited to attorney&#39;s 
fees and costs) (collectively, &quot;Losses&quot;) arising out of or 
relating to any of the following: (a) your or any Third Party Merchant’s 
(i) fraud, willful misconduct, or gross negligence or (ii) breach or 
alleged breach of these Terms; (b) any claim for state sales, use, hotel 
occupancy, or any other similar tax obligations (including any penalties, 
interest or other additions to tax) arising from the sale and subsequent 
redemption of a Prepaid Coupon; (c) any claim by any local, state or 
federal governmental entity for any unclaimed property regarding Prepaid 
Coupons, including but not limited to, any claims for penalties and 
interest; (d) the goods and/or services provided by you, including but 
not limited to, any claims for false advertising, injuries, illnesses, 
damages, or death; (e) any Offer, including your provision of incomplete 
or inaccurate or information applicable to such Offer; or (f) your Content; 
and (g) any infringement, misappropriation, or other violation, of any 
patent, trademark, copyright, publicity, privacy, trade secret, or other 
right of any third party by you, your Content, or the use thereof. </p>
<p>7.2 By Rally Commerce. Rally 
Commerce, at its sole cost and expense, shall defend, indemnify and 
hold harmless you and your officers, directors, agents and employees, 
from and against any and all Claims brought against any of you arising 
out of or in connection with (a) Rally Commerce’s material breach 
of these Terms or (b) any infringement, misappropriation or other violation 
of any trademark or copyright of any third party by Rally Commerce (excluding 
Rally Commerce’s use of materials provided or authorized for Rally 
Commerce’s use by, you.)</p>
<p>7.3 Indemnification Process. 
The Party seeking indemnification under this Section 7 shall promptly 
notify the other Party in writing of any Claim for which it seeks indemnification; 
provided that such indemnified Party’s failure to timely provide such 
notice shall not relieve the indemnifying Party of its indemnification 
obligations unless it can demonstrate actual prejudice as a result of 
such failure. In the event Rally Commerce is the indemnifying Party, 
Rally Commerce shall have the right to, upon written notice to you, 
elect to assume control of the defense and settlement of any such Claim, 
and you will have the right to participate and be represented in the 
defense of such Claim by your own counsel and at your own expense. you 
shall not settle any Claim for which you are to be indemnified hereunder 
without Rally Commerce’s prior written consent, which consent shall 
not be unreasonably withheld or delayed.</p>
<p>Section 8: COMPLIANCE WITH 
LAW AND AUTHORIZATIONS</p>
<p>8.1 General. You will ensure 
that the terms of any Offer, any Special Instructions, and your activities 
under the Agreement, including your redemption of the Prepaid Coupons, 
comply with any and all state, federal and local laws, rules regulations, 
and orders, including the Credit Card Accountability, Responsibility, 
and Disclosure Act of 2009 and all laws that govern false, unfair and 
deceptive practices, vouchers, gift cards, coupons, and/or gift certificates 
(collectively “Laws”).</p>
<p>8.2 Health and Safety. You represent 
and warrant that all good or services provided in connection with any 
Offer are safe and comply with all applicable Laws regarding health 
and safety, fire, and hygiene standards (collectively, “Health Laws”). 
At Rally Commerce’s request, you will promptly provide copies of any 
applicable facility operating license(s), or similar credentials or 
documents evidencing your and your facility(ies) compliance with the 
Health Laws. You shall ensure that your facilities and operations remain 
in compliance with all applicable Health Laws during the term of these 
Terms. Rally Commerce reserves the right to immediately terminate its 
relationship with you, and to refuse to promote your Offer, if it believes 
you do not fully comply with any or all applicable Health Laws.</p>
<p>8.3 Authorization Documents. 
You hereby represent and warrant that you have all rights and permissions 
necessary to provide or use any goods, services, or brands that you 
do not independently own as part of any Offer and to grant the rights 
to your Content granted under these Terms. Prior to making any Offer 
or submitting the Deal Submission, you shall provide Rally Commerce 
with letters of authorization or other documentation evidencing such 
rights and permissions (“Authorization Documents”) if so requested 
by Rally Commerce. Even if Rally Commerce has accepted a particular 
Deal Submission for your Offer, Rally Commerce shall have no obligation 
to promote any Offer until it has received Authorization Documents it 
reasonably considers it to be satisfactory. You shall immediately notify 
Rally Commerce if, at any time during the term of the Agreement, you 
no longer have the same rights and permissions evidenced in the Authorization 
Documents.</p>
<p>8.4 Regulatory Documents. You 
hereby represent and warrant that you have all obtained all governmental 
licenses, approvals, and authorizations necessary to provide the goods 
or services included as part of such Offer. You shall provide Rally 
Commerce with copies of licenses, proof of authorization or other appropriate 
documentation evidencing such regulatory permissions (“Regulatory 
Documents”) if so requested by Rally Commerce. Even if Rally Commerce 
has accepted the Deal Submission for your Offer, Rally Commerce shall 
have no obligation to promote your Offer until it has received Regulatory 
Documents it reasonably considers to be satisfactory. You shall immediately 
notify Rally Commerce if, at any time during the term of the Agreement, 
you no longer have the same rights and permissions evidenced in the 
Regulatory Documents. </p>
<p>Section 9: CONFIDENTIALITY</p>
<p>9.1 Confidential Information. 
Each Party agrees that (i) the terms set forth in your Merchant Account 
are confidential, (ii) any information designated by the other Party 
as “confidential,” and (iii) any other information that the recipient 
should reasonably expect to be confidential under the circumstances 
shall be collectively deemed “Confidential information.” Confidential 
Information does not include information that (a) was, or becomes, publicly 
known through no action of the receiving Party; (b) is already in the 
legitimate possession of the receiving Party prior to its disclosure; 
(c) is obtained by the receiving Party without a breach of any third 
party’s obligations or violation of Law; or (d) is independently developed 
by the receiving Party.</p>
<p>9.2 Obligation. Each Party 
shall take reasonable precautions to protect all Confidential Information, 
and will only disclose Confidential Information to its employees on 
a need-to-know basis. You may also disclose Confidential Information 
to your Third Party Merchants if they have signed a confidentiality 
agreement that requires them to protect the Confidential Information 
in at least the same manner specified in these Terms. If a Party is 
required by Law to disclose the other Party’s Confidential Information, 
it shall promptly notify the other Party and shall cooperate with the 
other Party to obtain a protective order or to otherwise limit the disclosure 
of the Confidential Information.</p>
<p>9.3 Irreparable Harm. Each Party 
agrees that, in the event of an actual, alleged or threatened breach 
of its confidentiality obligations established by these Terms, the other 
Party is likely to suffer immediate and irreparable harm, and may seek 
a temporary restraining order, injunction or other form of equitable 
relief without the posting of any bond or other security.</p>
<p>Section 10: INTELLECTUAL PROPERTY 
RIGHTS; CUSTOMER DATA</p>
<p>10.1 Rally Commerce IP. You 
acknowledge that Rally Commerce owns all right, title, and interest, 
including all intellectual property rights, in the Rally Commerce Site, 
trade name, logos, trademarks, and service marks, and any content, data, 
software, technology, tools, or business methods used by Rally Commerce 
to develop, promote, market, sell, generate, or distribute Offers and 
Prepaid Coupons and otherwise perform under these Terms (collectively 
the &quot;Rally Commerce IP&quot;). With respect to any Offer, you may 
use Rally Commerce’s name, trademarks, and logos solely to publicize 
to your customers and potential customers the fact that you are featuring 
that Offer through a particular Program. This limited right to use Rally 
Commerce&#39;s branding is applicable only during the period from the start 
of the Sales Period through the Promotional Value Expiration. Notwithstanding 
the above, you shall not use or display the Rally Commerce IP in any 
manner that states or implies that Rally Commerce has endorsed or approved 
the Offer or your products or services. Any use of Rally Commerce IP 
shall comply with any Rally Commerce usage guidelines posted on the 
Rally Commerce Site or provided to you from time to time. All goodwill 
and improved reputation in respect of and associated with the Rally 
Commerce IP shall inure to the sole benefit of Rally Commerce. Except 
as expressly set forth in these Terms, you have no right, license, title 
or interest in or to any Rally Commerce IP, and shall not use, distribute, 
transfer, copy, download, display, modify, perform or create derivative 
works of the Rally Commerce IP without the express written consent of 
Rally Commerce. You shall not translate, reverse engineer, decompile 
or disassemble the Rally Commerce IP. Rally Commerce has the right to 
revoke the rights sets forth in this Section upon written notice to 
you reserves all rights not specifically granted.</p>
<p>10.2 Customer Data. You acknowledge 
that Rally Commerce owns all data collected by, or on behalf of, Rally 
Commerce pursuant to these Terms, including all information and data 
of individuals who purchased Prepaid Coupons (”Customer Data”). 
Subject to applicable Law and in accordance with Rally Commerce’s 
Merchant Service Agreement, Rally Commerce shall provide you with access 
to Customer Data to the extent necessary for you to redeem and/or verify 
the validity of Prepaid Coupons. Except to the extent required by Law 
or otherwise authorized in writing by Rally Commerce, you may not use 
Customer Data for any other purpose. You shall, and shall ensure that 
any Third Party Merchants you may work with, take commercially reasonable 
efforts to protect the security of Customer Data and comply with all 
Laws (and Rally Commerce’s policies and procedures) relating to the 
processing of such Customer Data. If you become aware of, or suspect, 
any unauthorized access to or use of Customer Data, you shall immediately 
notify Rally Commerce, and shall cooperate with Rally Commerce in the 
investigation of such breach and the mitigation of any damages. You 
shall bear all resulting costs and expenses incurred by Rally Commerce 
to comply with applicable Laws (including without limitation any data 
breach Laws). Upon termination or expiration of this Agreement, you 
shall, as directed by Rally Commerce, destroy or return to Rally Commerce 
all the Customer Data in your or your Third Party Merchants possession.</p>
<p>Section 11: LIMITATIONS OF 
LIABILITY; INSURANCE</p>
<p>11.1 LIMITATION OF PREPAID COUPON 
LIABILITY. RALLY COMMERCE’S SOLE AND COMPLETE LIABILITY TO YOU SHALL 
BE LIMITED TO THE AMOUNT ACTUALLY PAID TO YOU BY RALLY COMMERCE PURSUANT 
TO THESE TERMS PRIOR TO THE DATE THE CLAIM AROSE PER OFFER. IN NO EVENT 
SHALL RALLY COMMERCE BE LIABLE TO YOU, ANY THIRD PARTY MERCHANT OR ANY 
OTHER THIRD PARTY FOR ANY CLAIMS RELATING TO THE USE OF YOUR GOODS AND 
SERVICES, INCLUDING BUT NO LIMITED TO CLAIMS RELATING TO FALSE ADVERTISING, 
INJURIES, ILLNESSES, DAMAGES, OR DEATH. ANY CLAIM ARISING OUT OF OR 
RELATING TO ANY PREPAID COUPON OFFERED UNDER THE APPLICABLE DEAL SUBMISSION 
MUST BE MADE WITHIN ONE (1) YEAR OF FIRST PUBLICATION OF THE PREPAID 
COUPON, AND ALL CLAIMS NOT SO MADE SHALL BE DEEMED WAIVED BY YOU. </p>
<p>11.2 NO CONSEQUENTIAL DAMAGES. 
EXCEPT FOR (A) INDEMNIFICATION OBLIGATIONS HEREUNDER OR (B) EITHER PARTY’S 
(OR WITH RESPECT TO YOU, YOUR THIRD PARTY MERCHANT’S) (I) VIOLATION 
OF SECTION 8 (COMPLIANCE WITH LAW AND AUTHORIZATIONS), SECTION 9 (CONFIDENTIALITY), 
OR SECTION 10 (INTELLECTUAL PROPERTY RIGHTS; CUSTOMER DATA) OR (II) 
FRAUD, WILLFUL MISCONDUCT OR GROSS NEGLIGENCE, IN NO EVENT SHALL EITHER 
PARTY BE LIABLE OR OBLIGATED TO THE OTHER PARTY OR ANY THIRD PARTY IN 
ANY MANNER FOR ANY SPECIAL, INCIDENTAL, EXEMPLARY, CONSEQUENTIAL, PUNITIVE, 
OR INDIRECT DAMAGES OF ANY KIND REGARDLESS OF THE FORM OF ACTION, WHETHER 
IN CONTRACT, TORT, NEGLIGENCE, STRICT PRODUCT LIABILITY, OR OTHERWISE, 
EVEN IF INFORMED OF THE POSSIBILITY OF ANY SUCH DAMAGES IN ADVANCE.</p>
<p>11.3 Insurance. You represent 
and warrant that you have, and shall maintain at your expense and at 
all times during the term of these Terms, all types of liability insurance 
policies, with coverage in amounts that are customary for merchants 
and/or service providers in your region, consistent with best industry 
practices, and sufficient to fully comply with applicable Law and fulfill 
your obligations under these Terms. Upon Rally Commerce’s request, 
you shall provide proof of your maintenance of such policies and provide 
assurances that indicate that Rally Commerce will be covered by your 
insurance policies in the event of a claim arising under or in relation 
to, these Terms or any Offer.</p>
<p>Section 12: Binding Arbitration</p>
<p>12.1 Binding Arbitration. The 
Parties hereby agree that (a) these Terms and all disputes, controversies, 
or claims arising out of or relating to these Terms, the Offer, or the 
Deal Submission shall be resolved exclusively by final and binding arbitration 
administered by the American Arbitration Association (“AAA”) and 
conducted before a single arbitrator pursuant to the applicable Rules 
and Procedures established by AAA (“Rules and Procedures”); (b) 
the arbitration shall be held at a location determined by AAA pursuant 
to the Rules and Procedures (provided that such location is reasonably 
convenient for you), or at such other location as may be mutually agreed 
upon by you and Rally Commerce; (c) the arbitrator shall apply California 
Law consistent with the Federal Arbitration Act and applicable statutes 
of limitations, and shall honor claims of privilege recognized at law; 
(d) there shall be no authority for any claims to be arbitrated on a 
class or representative basis; arbitration will decide only your and/or 
Rally Commerce’s individual claims; and the arbitrator may not consolidate 
or join the claims of other persons or parties who may be similarly 
situated; (e) in the event that you are able to demonstrate that the 
costs of arbitration will be prohibitive as compared to the costs of 
litigation, Rally Commerce will pay as much of your filing and hearing 
fees in connection with the arbitration as the arbitrator deems necessary 
to prevent the arbitration from being cost-prohibitive; and (f) with 
the exception of subpart (d) above, if any part of this arbitration 
provision is deemed to be invalid, unenforceable or illegal, or otherwise 
conflicts with the Rules and Procedures established by AAA, then the 
balance of this arbitration provision shall remain in effect and shall 
be construed in accordance with its terms as if the invalid, unenforceable, 
illegal or conflicting provision were not contained herein. If, however, 
subpart (d) is found to be invalid, unenforceable or illegal, then the 
entirety of this Arbitration Provision shall be null and void, and neither 
you nor Rally Commerce shall be entitled to arbitrate their dispute. 
For more information on AAA and its Rules and Procedures, visit the 
AAA website at <a href="http://www.ADR.org" target="_blank">http://www.ADR.org</a>.</p>
<p>Section 13: MISCELLANEOUS</p>
<p>13.1 Electronic Communications 
and Notices. You acknowledge that communications between the Parties 
often use electronic means. For contractual purposes, you hereby (a) 
consent to receive communications from Rally Commerce in an electronic 
form and (b) agree that all terms and conditions, agreements, notices, 
disclosures, and other communications that Rally Commerce provides to 
you electronically satisfy any legal requirement that such communications 
would satisfy if it were be in writing. The foregoing does not affect 
your statutory rights. Any notice required or permitted hereunder shall 
be provided in writing, and shall be deemed delivered when (a) delivered 
by electronic mail to the then-current e-mail address in your Merchant 
Account, or (b) regardless of whether or not actually received, when 
deposited in (i) the United States mail, postage prepaid, certified 
mail, return receipt requested, or (ii) a regional or national overnight 
courier service, addressed to the applicable Party at the address set 
forth in your case, in your Merchant Account, and in Rally Commerce&#39;s 
case, to Rally Commerce, Inc., Pier 38, Suite 210, San Francisco, CA 
94107, with a copy to the attention of the Legal Department.</p>
<p>13.2 Force Majeure. Neither 
Party shall be liable for any default or delay in the performance of 
its obligations under these Terms due to acts of God, terrorism, natural 
disasters, earthquakes, fire, riots, floods, and other similar events, 
to the extent such event is beyond the reasonable control of such Party 
and only for the duration of such event.</p>
<p>13.3 Relationship of the Parties. 
The Parties are independent contractors. Nothing in these Terms shall 
be deemed or construed by the Parties hereto, nor by any third party, 
as creating a joint venture, partnership, franchise, or an agency relationship 
between the Parties. Neither Party has the authority, without the other 
Party&#39;s prior written approval, to bind or commit the other Party in 
any way. Rally Commerce is not a vendor or co-vendor of your goods and 
services.</p>
<p>13.4 Agreement. These Terms 
constitute the entire understanding between the Parties relating to 
any Program Offer and your obligations in making such Offer, and supersedes 
all prior or contemporaneous oral or written agreements concerning such 
subject matter. No part of these Terms may be amended or modified except 
by mutual written agreement of the Parties. In the event of a conflict 
between these Terms and the terms of your Offer, these Terms shall govern. </p>
<p>13.5 Interpretation. The section 
headings of these Terms are for purposes of reference only and shall 
not in any way limit or affect the meaning or interpretation of any 
of the terms hereof. References to a section include references to all 
subsections of that section.</p>
<p>13.6 Invalidity of a Provision. 
If any provision of these Terms should be held to be invalid or unenforceable 
the validity and enforceability of the remaining provisions of these 
Terms shall not be affected and the Parties shall negotiate an equitable 
adjustment in the provisions in order to affect, to the maximum extent 
permitted by Law, the purpose of these Terms. </p>
<p>13.7 Waivers. One or more waivers 
of any covenant, term or condition of these Terms by either Party shall 
not be construed as a waiver of a subsequent breach of the same covenant, 
term or condition. </p>
<p>13.8 Assignment. You may not 
assign or transfer any of your rights, or delegate any of your obligations, 
under these Terms without Rally Commerce&#39;s prior written consent, and 
any attempt to do so shall be void and unenforceable. </p>
<p>13.9 Successors and Assigns; 
No Third Party Beneficiaries. These Terms shall be binding upon and 
inure to the benefit of, the Parties and their respective permitted 
successors and assigns. There are no third party beneficiaries to these 
Terms, except as expressly set forth herein or in a particular Deal 
Submission.</p>
<p>LAST UPDATED JULY 1, 2011</p>


</div>
