<div id="privacy">

<h2>Privacy Policy</h2>
<p>Rally Commerce is committed to respecting your privacy and providing you proper protection and management of any personal information you choose to share with us when using Rally Products. Rally Products enable Rally Prepaid Offers and associated services within a website, advertising banners, social applications, web widgets, mobile applications, and other applications.</p>
<h2>Collecting Your Information</h2>
<p>When you complete a transaction through a Rally Product we will collect the necessary personal information from you to complete the purchase and deliver the product or service to you, including your name, billing and shipping addresses, payment information, and email address.</p>
<p>Rally Commerce collects non-personally identifiable information, such as your IP address, when you interact with a Rally Product, regardless of whether you complete a transaction. We use this information to facilitate and monitor the delivery of Rally Products.</p>
<p>We use cookies to improve the user experience and we do not share this information with third parties. Cookies are required for our service to function properly; and you may not be able to complete a transaction if you have disabled cookies in your browser.</p>
<h2>Use of Information and Information Sharing </h2>
<p>Personal information you submit through a Rally Product is used to complete your transactions. This includes collecting your payment, shipping your purchased product, and sending you an email confirmation.</p>
<p>Rally Commerce may share your personal information with another company to complete your transaction, such as the manufacturer of the product or a company providing payment processing, shipping fulfillment or other transaction-related services. These companies will be authorized to use your personal information as necessary to complete your transaction.</p>
<p>In some cases, Rally Commerce will be providing the Rally Product on behalf of a retailer who is directly selling to you your purchased product or service. In those cases, the Rally Product will include a link to the privacy policy of that retailer.</p>
<p>Rally Commerce does not currently use your personal information for any Rally Commerce promotional purposes. If we change that policy, you will be given the opportunity to opt out of these promotional communications. We do not sell your personal information to third parties.</p>
<p>Some Rally Products include sharing features that, at your option, enables you to share a  widget via email or other means, and to manually add email addresses or to import your address book.</p>
<p>If you post a comment or respond to a posting on a social network site, blog or Rally fan page, you should be aware that any personally identifiable information you submit there can be read, collected, or used by other users of those forums, and could be used to send you unsolicited messages.</p>
<p>We may also disclose your personal information:</p>
<ul>
  <li>As required by law, such as to comply with a subpoena, or similar legal processes;</li>
  <li>When we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or respond to a government request;</li>
  <li>If Rally Commerce is involved in a merger, acquisition, or sale of all or a portion of its assets, you will be notified via email of any change in ownership or uses of your personal information, as well as any choices you may have regarding your personal information; and</li>
  <li>To any other third party with your prior consent to do so.</li>
</ul>
<h2>Updating Your Information</h2>
<p>To update or correct any collected information, please follow the instructions in your purchase 
confirmation email or contact <%= mail_to "privacy@RallyCommerce.com" %>.</p>
<h2>Security</h2>
<p>Rally Commerce takes precautions to protect your information. When you submit sensitive information via a Rally Product, your information is protected through various methods, including the use of Secure Socket Layer (SSL) encryption software to encrypt and protect all sensitive information, including credit card numbers, which is required on our transaction order form.</p>
<h2>Notification of Policy Changes</h2>
<p>If we decide to make changes to our privacy policy, in whole or in part, we will inform you by posting a notice on our web site, and you will have an opportunity to agree to the policy changes. The notice will include the effective date of the new policy, which will apply to all current and past users of our web site and will replace any prior policies that are inconsistent. The effective date of the current privacy policy is July 1, 2011.</p>
<p>If you have any questions about the privacy or security of our website, you can send an e-mail 
to <%= mail_to "privacy@RallyCommerce.com" %> or contact us via mail at the address below:</p>
<p>Rally Commerce, Inc. <br>
c/o Privacy Department <br>
Pier 38, Suite 210 <br>
San Francisco, CA 94107 </p>
<p>E-mail:<b><%= mail_to "privacy@RallyCommerce.com" %></b></p>

</div>
