<div id="deal-share">
	<div class="deal-share-top">
		<div class="deal-share-links">
			<h4>Share: </h4>
			<ul class="cf">
				<li><%= link_to "facebook", "#", :class => "facebook" %></li>
			</ul>
		</div>
	</div>
	<div class="deal-share-fix"></div>
</div>