<div id="ftw">
	<div id="ft">
		<div class="footer">
			<%= link_to "Contact", contact_url, :target => "_blank" %>&nbsp;&nbsp;&nbsp;
			<%= link_to "Privacy", privacy_url, :target => "_blank" %>&nbsp;&nbsp;&nbsp;
			<%= link_to "Terms and Conditions", terms_url, :target => "_blank" %>
		</div>
	</div>
</div>
<div id="ftc">
	<div class="copyright">
	<p>&copy;<span>2011</span>&nbsp;<%= OPTIONS[:site_name] %>. All Rights Reserved.</p>
	</div>
</div>