<!--{if trim(strip_tags($INI['bulletin'][0]))}-->
<div class="sbox side-business">
	<div class="sbox-top"></div>
	<div class="sbox-content">
		<div class="tip">
			<h2>Site Announce</h2>
			<div>{$INI['bulletin'][0]}</div>
		</div>
	</div>
	<div class="sbox-bottom"></div>
</div>
<!--{/if}-->
