<div class="sbox">
	<div class="sbox-top"></div>
	<div class="sbox-content">
		<div class="side-tip">
			<h3 class="first">I have paid but have not get {$INI['system']['couponname']}?</h3>
			<p>The deal has not reached it's minumum limits. You will see {$INI['system']['couponname']} when it is tipped.</p>
			<h3>What is expired order? </h3>
			<p>If you do not make any payment before the deal is end, the order will be expired.</p>
		</div>
	</div>
	<div class="sbox-bottom"></div>
</div>
