<div class="sbox">
	<div class="sbox-top"></div>
	<div class="sbox-content">
		<div class="side-tip">
			<h3 class="first">What is account credit? </h3>
			<p>Account credit is the balance you can use when buy deal on {$INI['system']['sitename']}.</p>
			<h3>Can I topup my account? </h3>
			<p>Can topup online or offline.</p>
			<h3>How can I get credit? </h3>
			<p>Invite your friend and you will get the credit.</p>
		</div>
	</div>
	<div class="sbox-bottom"></div>
</div>
